<div class="row small-up-2 medium-up-3 large-up-4" data-equalizer>

    <div class="medium-6 columns end card project-panel centered" data-equalizer-watch>
        <%= link_to new_project_path do %>
          <%= fa_icon 'plus-circle', class: 'fa-5x plus-btn' %>
        <% end %>
    </div>

    <% @projects.each do |project| %>
      <div class="medium-6 columns end card project-panel" data-equalizer-watch>
          <div class="content">
              <span class="title"><%= project.title %></span>
              <p><%= project.description %></p>
          </div>
          <div class="action">
            <%= link_to 'View Jobs', project_jobs_path(project.id) %>
          </div>
    </div>
    <% end %>
</div>
